.imageRow > .imageContainer > .aboutUsImage {
    padding: 0;
}
#aboutUsImage {
    padding: 0;
    margin-bottom: 2%;
}
.aboutUsNames {
    font-weight: 600;
    font-size: 3vmin;
}



span {
    font-weight: 500;
}

.contactIcon {
    font-size: 5vmin;
    padding: 2%;
    color: black;
}

.frontEnd, .backEnd, .aboutTitle{
    color: rgba(0,181,161,1); 
    text-shadow: 2px 2px 4px #074a50; 
}

.figCaptionText{
    color: rgba(0,181,161,1); 

    padding-top: 1%; 
    font-size: 2.5vmin;
}

#icons{
    padding-bottom: 3%;
}
