.mainApp {
    position: relative;
    background-repeat: repeat;
    background-image: url('../images/background-tile.png');
    width: 100%;
}

.gradientStyle {
    background: linear-gradient(180deg, rgba(255,238,42,.3), rgba(255,119,0,.4));
    height: 100%;
    width: 100%;
}