.scoreInput{
    margin-top: 0;

}

::placeholder{
    color: darkgrey;
}

.OT_subscriber {
    /* float: left; */
    /* margin-left: 1em; */
    position: absolute;
    margin-left: 5%;

   
}
div.OTPublisherContainer {
    /* float: left; */
    position: absolute;
    top: 10%;
    left: 33%;

}

#lituation-chat{
    margin-left: 1%;
 

}

#winnerBtn{
    margin-left: 3%;
}