.scoreInput{
    margin-top: 0;
    font-size: 3rem;
}

.score{
    height: 100%;
} 

.chatCam{
    height: 55vh;

}
#camChat{
    padding: 0;
}
.webpage{
    height: 91vh;
    margin: 0;
}

#teamOneScore, #teamTwoScore{
    text-align: center;
}


.scoreInfo{
    height: 30vh;
}

#scoreRow{
    height: 89vh;
    margin: 0;
}

#cardContainer{
    padding: 5%;
}

.teamText{
    font-size: 2.3vmin;
}

.camGameBtn{
    font-size: 1.3vmin;
    padding: 0 1.5rem;
}