
.gameArea{
    height: 100%;
    padding: 0;
}

.gameCards{
    margin: 0;
}
.cardsArea{
    height:61%;
    /* width: 100%; */
    margin-bottom: 0;
}
.camChat{
    height: 85%;
}

.playerHand{
    height: 100%;
    display: flex; 
} 

.fullHand{
    height: 100%;
}

.playerCard0{
    width: 98%;
    cursor: pointer;
    border-radius: 1.5%;
    margin: .5%;
}

.playerCard1,
.playerCard2,
.playerCard3,
.playerCard4{
    width: 98%;
    cursor: pointer;
    border-radius: 1.5%;
    margin: .5%;
    background-repeat:no-repeat;
} 

.bottomInfo{
    height: 20%;
    margin: 3% 0 0 0;
}

.gameTotals{
    margin-top: 0;
    font-weight: 800;
    font-size: 1.7vmin;
}

.gameMessage{
    font-weight: 800;
    font-size: 2vmin;
    margin: 0;
}

.bottomCard{
    margin: 0;
    height: 100%;
    border-radius: 10px;
    background-color:ghostwhite;
}

.bottomCardContainer{
    height: 100%;
}

@media only screen and (min-height: 768px) and (max-height: 847px) {
    .bottomInfo{
        margin: 4.5% 0 0 0;
    }
}

@media only screen and (max-width: 1300px) {
    .cardsArea{
        padding-top: 4%;
    }
}