.fullPage{
    height: 91.5vh;
    width: 98vw;
    margin: 0;
}

.webcams{
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 31%;
    margin: 0 .5 0 .5;
    margin-bottom: 0;
}

.gameCards{
    width: 100%;
    height: 68%;
    display: flex;
    margin-bottom: 0;
}

/* Media Queries */
@media only screen and (max-height: 768px) {
    .fullPage{
        height: 90.9vh;
    }
} 

@media only screen and (min-height: 768px) and (max-height: 847px) {
    .fullPage{
        height: 92vh;
    }
}

@media only screen and (min-height: 848px) and (max-height: 909px) {
    .fullPage{
        height: 92.6vh;
    }
}

@media only screen and (min-height: 910px) {
    .fullPage{
        height: 93.1vh;
    }
}

@media only screen and (min-height: 950px) {
    .fullPage{
        height: 93.3vh;
    }
}

