.gameArea{
    height: 100%;
    padding: 0;
}

.gameCards{
    margin: 0;
}
.cardsArea{
    height:80%;
    width: 100%;
    margin-bottom: 0;
}
.playerHand{
    height: 100%;
    display: inline-flex; 
    flex-wrap: wrap; 
} 

.playerCard0{
    height: 100%;
    width: 19%;
    cursor: pointer;
    background-size: 100%;
    border-radius: 1.5%;
    margin: .5%;
    background-repeat:no-repeat;
}

.playerCard1,
.playerCard2,
.playerCard3,
.playerCard4{
    height: 100%;
    width: 19%;
    cursor: pointer;
    background-size: 100%;
    border-radius: 1.5%;
    margin: .5%;
    background-repeat:no-repeat;
} 


.bottomInfo{
    height: 10%;
}

.gameTotals{
    margin-top: 0;
    font-weight: bold;
}

.gameMessage{
    font-weight: bold;
}


