.gameArea{
    height: 100%;
    padding: 0;
}

.gameCards{
    margin: 0;
}
.cardsArea{
    height:75%;
    width: 100%;
    margin-bottom: 0;
}

div.col.s12.playerHand {
    padding-top: 2vh;     
}

.playerHand{
    height: 100%;
    display: flex; 
    flex-wrap: wrap;
} 

.playerCard0{
    height: 100%;
    width: 19%;
    cursor: pointer;
    background-size: 100%;
    border-radius: 1.5%;
    margin: .5%;
    background-repeat:no-repeat;
}

.playerCard1,
.playerCard2,
.playerCard3,
.playerCard4{
    height: 100%;
    width: 19%;
    cursor: pointer;
    background-size: 100%;
    border-radius: 1.5%;
    margin: .5%;
    background-repeat:no-repeat;
} 


.bottomInfo{
    height: 15%;
    margin: 3% 0 0 0;
}

.gameTotals{
    margin-top: 0;
    font-weight: bold;
    font-size: 1.6vmin;
}

.gameMessage{
    font-weight: bold;
    font-size: 1.8vmin;
}

.bottomCard{
    margin: 0;
    height: 100%;
    border-radius: 10px;
}
