@font-face{
    font-family: 'crewniverse';
    src: url('../fonts/crewniverse_font.ttf')
}

.pageContainer{
    background-color: #ffdfba; 
    overflow-x: none;
    padding: 0;
    margin: 0;
}

.landing {
   height: 20%;
   width: 98vw;
   padding: 0;
   margin-left: 0; 
}

.titleLine{
    font-family: crewniverse; 
}

.gameTitle{
    font-family: crewniverse;
    font-size: 10vmax;
    color: rgba(0,0,0,0.8);
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    text-shadow: 1px 1px #ce794f, 
                     2px 2px #ce794f, 
                     3px 3px #ce794f, 
                     4px 4px #ce794f, 
                     5px 5px #ce794f, 
                     6px 6px #ce794f;
    -webkit-transition: all 0.12s ease-out;
    -moz-transition:    all 0.12s ease-out;
    -ms-transition:     all 0.12s ease-out;
    -o-transition:      all 0.12s ease-out;
}

@keyframes floating {
from { transform: translate(0,  0px); }
65%  { transform: translate(0, 15px); }
to   { transform: translate(0, -0px); }

}

.featureImg {
    padding: 0;
    margin: 0; 
}

.homeRow{
    margin-bottom: 0;
}

.mainDiv{
    margin-top: 5%;
}

.mainApp{
    height: 100vh;
}

