body{
    user-select: none;
    background-color: lightgrey;
}

.signInArea {
    border: 1px solid black;
    width: 70%;
    margin: 3% auto;
    background-color: ghostwhite;
}


.top{
    height: 30%;
    width: 100%;
}

#titleH1{
    font-size:65px;
    text-align:center;
    margin: 0;
    padding: 0;
}

/*#password{*/
    /*width: 40%;*/
/*}*/

/*#username{*/
    /*width: 40%;*/
/*}*/

.inputFieldCentering {
    width: 42%;
    margin: 0 auto;
}

/* .signUpBtn {
    margin-right: 5px;
} */

.logInBtn {
    margin-left: 10px;
}

.facebookBtn {
    margin-left:1%;
}

.googleBtn {
    margin-left: 1%;
}