body{
    user-select: none;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    width: 100vw;
}

.loginContainer {
    height: 88vh;
    width: 100vw;
}

.signInArea {
    border: 1px solid black;
    width: 70%;
    margin: 3% auto;
    background-color: ghostwhite;
}

.top{
    height: 30%;
    width: 100%;
}

#titleH1{
    font-size:65px;
    text-align:center;
    margin: 0;
    padding: 0;
}

.inputFieldCentering {
    width: 42%;
    margin: 0 auto;
}

.logInBtn {
    margin-left: 10px;
    width: 25%;
}

.signInBtn {
    margin-left: 10px;
}

.facebookBtn {
    margin-left:1%;
}

.googleBtn {
    margin-left: 1%;
}