.navbarItem {
    padding: 0vh 1vh;
    height: 100%;
    font-size: 1.5rem;
}

.navbarUl {
    height: 100%;
}

.navbarLi {
    height: 100%;
}

a.brand-logo.left {
    height: 100%;
    margin-left: 4.5%;
}

.nav-wrapper {
    height: 100%;
}

.navImg {
    position: absolute;
    height: 100%;
    left: -26%;
    width: 26%;
}
