.fullform {
    border: 1px solid black;
    background-color: ghostwhite;
    margin-top: 3.5%;
    height: 80%;
    width: 70%;
    margin-left: 15%;
 
   
}

.rowlines{
    margin-bottom: 5px;
}

.goBackBtn{
    margin-right: 3%;
}
