.fullform {
    border: 1px solid black;
    background-color: ghostwhite;
    margin-top: 3.5%;
    width: 60%;
    margin-left: 20%;
}

.signUpContainer {
    height: 91.5vh;
}

div.container.signUpContainer {
    padding-top: 2vh;
}

.rowlines{
    margin-bottom: 5px;
}

#submitButton {
    margin-left: 20px;
}

.signUpText{
    color: rgb(255, 123, 0);

}

/* Media Queries */

@media only screen and (min-height: 300px) and (max-height: 559px) {
    .signUpContainer{
        height: 144vh;
    }
}

@media only screen and (min-height: 560px) and (max-height: 649px) {
    .signUpContainer{
        height: 114vh;
    }
}

@media only screen and (min-height: 650px) and (max-height: 788px) {
    .signUpContainer{
        height: 90.9vh;
    }
} 

@media only screen and (min-height: 768px) and (max-height: 847px) {
    .signUpContainer{
        height: 92vh;
    }
}

@media only screen and (min-height: 848px) and (max-height: 909px) {
    .signUpContainer{
        height: 92.7vh;
    }
}

@media only screen and (min-height: 910px) {
    .signUpContainer{
        height: 93.1vh;
    }
}

@media only screen and (min-height: 950px) {
    .signUpContainer{
        height: 93.3vh;
    }
}


