/* .OT_subscriber {
    float: left;
    margin-left: 1em;
   
}
.OT_publisher {
    float: left;

/* }
.error {
    color: red;
/* } */ 

.OT_subscriber {
    /* float: left; */
    margin-left: 1em;
    position: absolute;

   
}
div.OTPublisherContainer {
    /* float: left; */
    position: absolute;
    top: 10%;
    left: 29%;

}

.error {
    color: red;
}
/* #camBtn{
    position: absolute;
    top: 10%;
} */
